@page
@model MyHostel_Admin.Pages.Admin_Page.Facilities.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item"><i class="mdi mdi-home-outline fs-4"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Genre</li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">Facilities Management</h1>
        </div>
        <div class="col-6">
            <div class="text-end upgrade-btn">
                <a asp-page="Create" class="btn btn-primary text-white">Create New</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <form asp-page="./Index" method="get" class="col-9">
            <div class="form-actions no-color">
                <p>
                    <input style="width:70%" type="text" name="searchString" value="@Model.CurrentFilter" class="btn btn-outline-primary" placeholder="Enter genres's name" />
                    <input style="width:20%" type="submit" value="Search" class="btn btn-primary" />
                </p>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                Id
                            </th>
                            <th scope="col">
                                Facility Name
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Facility)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UtilityName)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.Facility.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Facility.HasNextPage ? "disabled" : "";
    }
    <div class="text-center mt-3">
        <a asp-page="./Index"
           asp-route-pageIndex="1"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            First page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.Facility.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            Previous page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.Facility.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Next page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.Facility.TotalPages)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Last page
        </a>
    </div>
    <div class="text-center mt-3">
        <p>Page: @Model.Facility.PageIndex / @Model.Facility.TotalPages</p>
    </div>
</div>