@page
@model MyHostel_Admin.Pages.Admin_Page.HostelImages.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            
            <h1 class="mb-0 fw-bold">Hostel Image Management</h1>
        </div>
    </div>
    <div class="row mt-3">
        <form asp-page="./Index" method="get" class="col-9">
            <div class="form-actions no-color">
                <p>
                    <input style="width:70%" type="text" name="searchString" value="@Model.CurrentFilter" class="btn btn-outline-primary" placeholder="Enter hostel's name" />
                    <input style="width:20%" type="submit" value="Search" class="btn btn-primary" />
                </p>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                Id
                            </th>
                            <th scope="col">
                                Hostel Name
                            </th>
                            <th scope="col">
                                Image
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HostelImage)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hostel.Name)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Amenities.AmenitiyName)*@
                                    <img style="width:70px;height=70px;" src="@item.ImageUrl" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HostelImage.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HostelImage.HasNextPage ? "disabled" : "";
    }
    <div class="text-center mt-3">
        <a asp-page="./Index"
           asp-route-pageIndex="1"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            First page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.HostelImage.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            Previous page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.HostelImage.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Next page
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.HostelImage.TotalPages)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Last page
        </a>
    </div>
    <div class="text-center mt-3">
        <p>Page: @Model.HostelImage.PageIndex / @Model.HostelImage.TotalPages</p>
    </div>
</div>


