@page
@model MyHostel_Admin.Pages.Admin_Page.Hostels.ResidentsModel
@{
    Layout = "_LayoutAdmin";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            
            <h1 class="mb-0 fw-bold">Resident Management</h1>
        </div>

    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Hostel ID
                                </th>
                                <th scope="col">
                                    Member Name
                                </th>
                                <th scope="col">
                                    Room
                                </th>
                                <th scope="col">
                                    Rate
                                </th>
                                <th scope="col">
                                    Comment
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Resident)
                            {
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayFor(modelItem => item.HostelId)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.FirstName) @Html.DisplayFor(modelItem => item.Member.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Room.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @{
            var prevDisabled = !Model.Resident.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Resident.HasNextPage ? "disabled" : "";
        }
        <div class="text-center mt-3">
            <a asp-page="./Index"
               asp-route-pageIndex="1"
               class="btn btn-primary @prevDisabled">
                First page
            </a>
            <a asp-page="./Index"
               asp-route-pageIndex="@(Model.Resident.PageIndex - 1)"
               class="btn btn-primary @prevDisabled">
                Previous page
            </a>
            <a asp-page="./Index"
               asp-route-pageIndex="@(Model.Resident.PageIndex + 1)"
               class="btn btn-primary @nextDisabled">
                Next page
            </a>
            <a asp-page="./Index"
               asp-route-pageIndex="@(Model.Resident.TotalPages)"
               class="btn btn-primary @nextDisabled">
                Last page
            </a>
        </div>
        <div class="text-center mt-3">
            <p>Page: @Model.Resident.PageIndex / @Model.Resident.TotalPages</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
